.home-link-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: auto;
    margin-top: 5rem;
    gap: 2rem;
}

.home-link {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    padding: 3rem 2rem;
    margin: 1rem;
    transition: transform 300ms ease-in-out;
}

.home-link:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-link h2 {
    margin-bottom: 1rem;
}

.home-link:nth-child(1) {
    border-bottom: 5px solid limegreen;
}

.home-link:nth-child(2) {
    border-bottom: 5px solid #7c3aed;
}

.home-link:nth-child(3) {
    border-bottom: 5px solid #eab308;
}

.home-link:nth-child(4) {
    border-bottom: 5px solid #e11d48;
}

.home-link:nth-child(5) {
    border-bottom: 5px solid #3b82f6;
}

.home-link:nth-child(6) {
    border-bottom: 5px solid #ea580c;
}
/**/

@media(max-width : 950px){
    .home-link-container {
        grid-template-columns: repeat(2,1fr);
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media(max-width : 650px) {
    .home-link-container {
        grid-template-columns: repeat( 1 , 1fr);
        max-width: 450px;
        margin: 2rem auto;
    }

}