.nav {
    border-bottom: 1px solid lightgray;
    padding: 0.5rem 0.75rem;
    font-style: italic;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav .logo-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-left: 1rem;
}

.nav .logo {
    width: 2rem;
}